<style>
  #head{
    border: 1px solid black;
    height: 40px;
  }
</style>

<div id="head">
  Invalid email/password combination.
</div>

<h1>Log in</h1>

  <div class="center">
  <div style="display: inline-block; text-align: left"
  <br>Email
  <br><input></input>
  <br>
  <br>Password
  <br><input></input>
  <br>
  <br><%= link_to "Login", '#', class: "btn btn-lg btn-primary" %>
  <br>
  <br><p>New user? <%= link_to "Sign up now!", signup_path %></p>
  
  </div>
  </div>